<a href="https://colab.research.google.com/github/zahrasadat9/DL-Adventures/blob/main/movielens_100_recommendation_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# libs and data

In [144]:
! pip install kaggle
# 2. Make a directory named “.kaggle”

! mkdir ~/.kaggle
# 3. Copy the “kaggle.json” into this new directory

! cp kaggle.json ~/.kaggle/
# 4. Allocate the required permission for this file.

! chmod 600 ~/.kaggle/kaggle.json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [145]:
! kaggle datasets download prajitdatta/movielens-100k-dataset

movielens-100k-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
!unzip "/content/movielens-100k-dataset.zip" ;

Archive:  /content/movielens-100k-dataset.zip
  inflating: ml-100k/README
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test

In [146]:
import numpy as np
import matplotlib.pyplot as plt
import cv2
import os
import pandas as pd
from tabulate import tabulate

In [147]:
udata=pd.read_csv('/content/ml-100k/u.data',delimiter='\t',names=['user id', 'item id', 'rating', 'timestamp'])

In [148]:
udata.head(5)

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [149]:
names="movie id | movie title | release date | video release date |IMDb URL | unknown | Action | Adventure | Animation |Children | Comedy | Crime | Documentary | Drama | Fantasy |Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |Thriller | War | Western "
names=names.replace(" ", "").split('|')
# names

In [150]:
uitem=pd.read_csv('/content/ml-100k/u.item',delimiter='|', encoding="iso-8859-1",names=names)#,on_bad_lines='skip')
uitem.head(5)

,movieid,movietitle,releasedate,videoreleasedate,IMDbURL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [151]:
uitem=uitem.rename({'movieid': 'item id'},axis='columns')

In [164]:
uitem2= uitem[['item id','movietitle']]
uitem2.head(2)

   item id        movietitle
0        1  Toy Story (1995)
1        2  GoldenEye (1995)

In [153]:
udata2=pd.merge(uitem2,udata,on="item id")
udata2.head(2)

   item id        movietitle  user id  rating  timestamp
0        1  Toy Story (1995)      308       4  887736532
1        1  Toy Story (1995)      287       5  875334088

In [154]:
new=udata2.pivot(
    index='user id',
    columns='item id',
    values='rating'
)#.fillna(0)

In [169]:
a=uitem2[uitem2['movietitle'].str.contains('Aladdin')]

In [170]:
a

     item id                              movietitle
94        95                          Aladdin (1992)
421      422  Aladdin and the King of Thieves (1996)

# first approach: corr matrix

In [174]:
def corr_movie():
  movie=input('enter your movie:')
  print('AH good taste ;) ')

  #make it better
  #id=uitem2[uitem2['movietitle'].str.contains(movie)]['item id'][0]
  a= uitem2[uitem2['movietitle'].str.contains('Aladdin')]
  if len(a)>1:
    print('\n which one?')
    print(tabulate(a, headers = 'keys', tablefmt = 'psql'))
    id= int( input('type the item id!:') )
  else:
    id= a['item id'][0]
  
  #corr
  new2=new.fillna(0)
  corr= new2.corrwith(new2[id])
  b= pd.DataFrame({'item id':corr.index,'corr':corr.values},index=list(corr.index))
  final= pd.merge(uitem2,b,on="item id")
  final=final[['movietitle', 'corr']].sort_values('corr',ascending=False)[1:]

  print('\n the similar ones are:')
  print(tabulate(final[:5], headers = 'keys', tablefmt = 'psql'))

corr_movie()

enter your movie:Aladdin
AH good taste ;)

 which one?
+-----+-----------+----------------------------------------+
|     |   item id | movietitle                             |
|-----+-----------+----------------------------------------|
|  94 |        95 | Aladdin (1992)                         |
| 421 |       422 | Aladdin and the King of Thieves (1996) |
+-----+-----------+----------------------------------------+
type the item id!:95

 the similar ones are:
+-----+----------------------------------------+----------+
|     | movietitle                             |     corr |
|-----+----------------------------------------+----------|
|  70 | Lion King, The (1994)                  | 0.683855 |
| 587 | Beauty and the Beast (1991)            | 0.650583 |
|  81 | Jurassic Park (1993)                   | 0.568547 |
| 203 | Back to the Future (1985)              | 0.545456 |
|  98 | Snow White and the Seven Dwarfs (1937) | 0.539332 |
+-----+----------------------------------------+----------+

# 2nd approach: KNN